<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Set Kata Sandi Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    <ion-text color="dark">
      Periksa kotak masuk email Anda, kami telah mengirim kode otentikasi.
    </ion-text>
  </p>

  <form [formGroup]="createFormGroup">
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Kode Otentikasi</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="secure_code"
        class="ion-text-upperprotest"
        required></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Kata Sandi Baru</ion-label>
      <ion-input
        type="password"
        inputmode="password"
        formControlName="password1"
        minlength="6"
        required></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Ulangi Kata Sandi</ion-label>
      <ion-input
        type="password"
        inputmode="password"
        formControlName="password2"
        minlength="6"
        required></ion-input>
    </ion-item>

    <ion-button 
      [disabled]="createFormGroup.invalid || isLoading"
      (tap)="formSubmit()"
      expand="block"
      mode="ios"
      color="primary"
      class="ion-margin-top">
      <ion-spinner *ngIf="isLoading" color="light" name="dots" class="ion-margin-end"></ion-spinner>
      {{ isLoading ? 'Memproses...' : 'Set Kata Sandi' }}
    </ion-button>

    <ion-button
      color="light"
      expand="block"
      mode="ios"
      class="ion-margin-top"
      [disabled]="isLoadingResend"
      (tap)="passwordResend()">
      Kirim Ulang Otentikasi
    </ion-button>
  </form>
</ion-content>
