<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Profil Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="option" checked="{{ segment === 'option' ? 'true' : 'false' }}" [ngStyle]="{'width': '33.3333%'}">
      <ion-label>Biodata</ion-label>
    </ion-segment-button>

    <ion-segment-button value="validation" checked="{{ segment === 'validation' ? 'true' : 'false' }}" [ngStyle]="{'width': '33.3333%'}">
      <ion-label>Validasi</ion-label>
    </ion-segment-button>

    <ion-segment-button value="security" checked="{{ segment === 'security' ? 'true' : 'false' }}" [ngStyle]="{'width': '33.3333%'}">
      <ion-label>Keamanan</ion-label>
    </ion-segment-button>
  </ion-segment>

  <section class="ion-padding">
    <app-attribute *ngIf="segment === 'option'" [personData]="personData"></app-attribute>
    <app-security *ngIf="segment === 'security'" [personData]="personData"></app-security>
    <app-validation *ngIf="segment === 'validation'" [personData]="personData"></app-validation>
  </section>
</ion-content>
